.menu-item{
    background-color: antiquewhite;
    border: 5px solid crimson;
    /* border: 20px solid tomato; */
    border-radius: 50px; 
    margin: 10px;
    padding: 20px;
}
.header {
    height: 100vh;
    background-image: url('../images/image3.jpg');
    background-size: cover;
    background-position: center;
}
